@font-face {
    font-family: 'Figtree';
    src: url(../fonts/Figtree-VariableFont_wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Figtree';
}
:root{
    --yellow: hsl(47, 88%, 63%);
    --white: hsl(0, 0%, 100%);
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
}
body{
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--gray950);
}
.card{
    width: min(88%, 380px);
    height: 500px;
    background-color: var(--white);
    border: 1px solid var(--gray950);
    border-radius: 10px;
    box-shadow: 8px 8px 0px var(--gray950);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
}
.imgArt{
    width: 100%;
    border-radius: 7px;
}
.infoContainer{
    padding-top: 20px;
    align-self: flex-start;
}
.tagContainer{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-bottom: 20px;
}
.tag{
    background-color: var(--yellow);
    font-weight: 700;
    font-size: 0.8rem;
    padding: 7px 12px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--gray950);
}
.publiDate{
    padding-bottom: 16px;
    font-size: 0.8rem;
    font-weight: 500;
}
.publiTitle{
    text-decoration: none;
    color: var(--gray950);
    font-size: 1.3rem;
    font-weight: 700;
}
.publiTitle:hover{
    color: var(--yellow);
}
.publiDesc{
    padding: 10px 0px 26px 0px;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--gray500);
    line-height: 1.3rem;
}
.userInfo{
    display: flex;
    align-items: center;
}
.userInfo img{
    width: 40px;
}
.userInfo p{
    font-weight: 700;
    font-size: 0.9rem;
    padding-left: 10px;
}