@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter';
}
:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey700: hsl(0, 0%, 20%);
    --grey800: hsl(0, 0%, 12%);
    --grey900: hsl(0, 0%, 8%);
}
html{
    font-size: 90%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey900);
    color: var(--white);
    height: 90vh;
}
.container{
    background-color: var(--grey800);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 680px;
    width: min(390px, 90%);
}
.imgContainer{
    width: 100%;
    text-align: center;
    padding: 30px 0px 30px 0px;
}
.imgContainer img{
    width: 150px;
    border-radius: 100%;
}
.info{
    text-align: center;
}
.info h2{
    font-size: 1.8rem;
    padding-bottom: 10px;
}
.info p:nth-child(2){
    color: var(--green);
    font-weight: 700;
    font-size: 1rem;
    padding-bottom: 30px;
}
.info p:last-child{
    padding-bottom: 30px;
}
.links{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.links a{
    background-color: var(--grey700);
    width: min(340px, 90%);
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    border-radius: 8px;
    color: var(--white);
    font-weight: 700;
}
.links a:hover{
    background-color: var(--green);
    color: var(--grey900);
}